In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [10]:
# To make run all you ask in one cell, not only the last required
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [11]:
pd.options.display.float_format = '{:,.2f}'.format

In [12]:
data1 = pd.read_csv('taxi_visual.csv')
data1.head()
data1.shape

,passenger_count,trip_distance,fare_amount,extra,tip_amount,tolls_amount,total_amount,trip_duration,trip_average_speed,tip_percentage,ratecodeID,day_part,weekday,passenger_load,PULocationID,DOLocationID,tpep_pickup_datetime,tpep_dropoff_datetime,pickup_time,pickup_date
0,1.00,11.75,28.00,3.00,7.95,0.00,39.75,34.00,20.73,20.00,Standard rate,Night,Wednesday,Individual passenger,234,61,2019-08-01 00:47:20,2019-08-01 01:21:45,00:47:20,2019-08-01
1,1.00,10.46,25.00,3.00,4.32,0.00,33.12,31.00,20.25,13.04,Standard rate,Night,Wednesday,Individual passenger,90,7,2019-08-01 00:16:25,2019-08-01 00:48:19,00:16:25,2019-08-01
2,1.00,3.38,9.50,3.00,2.00,0.00,15.30,11.00,18.43,13.07,Standard rate,Night,Wednesday,Individual passenger,164,79,2019-08-01 00:43:48,2019-08-01 00:55:13,00:43:48,2019-08-01
3,1.00,1.00,4.50,0.50,2.49,0.00,10.79,2.00,29.93,23.08,Standard rate,Night,Wednesday,Individual passenger,13,13,2019-08-01 00:07:47,2019-08-01 00:10:35,00:07:47,2019-08-01
4,1.00,2.90,9.50,3.00,2.65,0.00,15.95,11.00,15.80,16.61,Standard rate,Night,Wednesday,Individual passenger,163,68,2019-08-01 00:00:24,2019-08-01 00:12:12,00:00:24,2019-08-01

(4074272, 20)

In [13]:
def fast_slow(x):
    if x < 15:
        return 'Slow Cab'
    elif x > 35:
        return 'Fast Cab'
    else:
        return 'Normal speed'

In [14]:
data1['speed'] = data1['trip_average_speed'].apply(fast_slow)

In [15]:
def tips(x):
    if x < 10:
        return 'Bad Tip'
    elif x > 20:
        return 'Great Tip'
    else:
        return 'Normal Tip'

In [16]:
data1['tip_rating'] = data1['tip_percentage'].apply(tips)

In [17]:
def fare(x):
    if x < 9:
        return 'Ok business'
    elif x > 20:
        return 'Good business'
    else:
        return 'Normal business'

In [18]:
data1['fare_classification'] = data1['fare_amount'].apply(fare)

In [19]:
def duration(x):
    if x < 10:
        return 'Short trip'
    elif x > 30:
        return 'Long trip'
    else:
        return 'Normal trip'

In [20]:
data1['duration_classified'] = data1['trip_duration'].apply(duration)

In [21]:
def distance(x):
    if x < 2:
        return 'Short distance'
    elif x > 10:
        return 'Long distance'
    else:
        return 'Normal distance'

In [22]:
data1['distance_classified'] = data1['trip_distance'].apply(distance)

In [23]:
data1.columns

Index(['passenger_count', 'trip_distance', 'fare_amount', 'extra',
       'tip_amount', 'tolls_amount', 'total_amount', 'trip_duration',
       'trip_average_speed', 'tip_percentage', 'ratecodeID', 'day_part',
       'weekday', 'passenger_load', 'PULocationID', 'DOLocationID',
       'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'pickup_time',
       'pickup_date', 'speed', 'tip_rating', 'fare_classification',
       'duration_classified', 'distance_classified'],
      dtype='object')

In [24]:
data1 = data1.sample(n=500000, random_state=1)
data1.shape

(500000, 25)

In [25]:
data2 = pd.read_excel('taxi_zones.xlsx')
data2.shape

(265, 4)

In [26]:
pickup_data = pd.merge(data1, data2[['LocationID','Borough','Zone']], left_on='PULocationID', right_on=['LocationID'], how = 'left')
pickup_data.shape
pickup_data.head()

(500000, 28)

,passenger_count,trip_distance,fare_amount,extra,tip_amount,tolls_amount,total_amount,trip_duration,trip_average_speed,tip_percentage,...,pickup_time,pickup_date,speed,tip_rating,fare_classification,duration_classified,distance_classified,LocationID,Borough,Zone
0,1.00,1.77,5.50,2.50,0.75,0.00,9.55,3.00,35.41,7.85,...,00:33:26,2019-08-12,Fast Cab,Bad Tip,Ok business,Short trip,Short distance,170,Manhattan,Murray Hill
1,1.00,1.13,4.50,0.00,1.00,0.00,8.80,3.00,22.53,11.36,...,08:16:34,2019-08-15,Normal speed,Normal Tip,Ok business,Short trip,Short distance,87,Manhattan,Financial District North
2,1.00,3.59,9.50,0.50,2.66,0.00,15.96,9.00,23.93,16.67,...,22:54:09,2019-08-08,Normal speed,Normal Tip,Normal business,Short trip,Normal distance,74,Manhattan,East Harlem North
3,1.00,4.67,12.50,2.50,3.15,0.00,18.95,13.00,21.54,16.62,...,09:09:51,2019-08-24,Normal speed,Normal Tip,Normal business,Normal trip,Normal distance,186,Manhattan,Penn Station/Madison Sq West
4,1.00,4.83,15.00,3.50,3.85,0.00,23.15,20.00,14.48,16.63,...,15:10:53,2019-08-09,Slow Cab,Normal Tip,Normal business,Normal trip,Normal distance,264,Unknown,NV

In [27]:
pickup_data.rename(columns = {'LocationID':'PULocationIDCopy','Borough': 'PUBorough', 'Zone': 'PUZone'}, inplace = True)
# pickup_data.head()

In [28]:
final_df = pd.merge(pickup_data, data2[['LocationID','Borough','Zone']], left_on='DOLocationID', right_on=['LocationID'], how = 'left')
final_df.shape
# final_df['PUBorough'].head()

(500000, 31)

In [29]:
final_df.rename(columns = {'LocationID':'DOLocationIDCopy','Borough': 'DOBorough', 'Zone': 'DOZone'}, inplace = True)
# final_df.head()

In [30]:
final_df.shape
final_df = final_df.loc[final_df['PUBorough'] != 'Unknown']
final_df = final_df.loc[final_df['DOBorough'] != 'Unknown']
final_df.shape

(500000, 31)

(494663, 31)

In [31]:
final_df.head(2)

,passenger_count,trip_distance,fare_amount,extra,tip_amount,tolls_amount,total_amount,trip_duration,trip_average_speed,tip_percentage,...,tip_rating,fare_classification,duration_classified,distance_classified,PULocationIDCopy,PUBorough,PUZone,DOLocationIDCopy,DOBorough,DOZone
0,1.00,1.77,5.50,2.50,0.75,0.00,9.55,3.00,35.41,7.85,...,Bad Tip,Ok business,Short trip,Short distance,170,Manhattan,Murray Hill,237,Manhattan,Upper East Side South
1,1.00,1.13,4.50,0.00,1.00,0.00,8.80,3.00,22.53,11.36,...,Normal Tip,Ok business,Short trip,Short distance,87,Manhattan,Financial District North,170,Manhattan,Murray Hill

In [32]:
final_df.drop(['PULocationIDCopy','DOLocationIDCopy'], axis =1, inplace=True)

In [33]:
final_df.shape

(494663, 29)

In [34]:
final_df.to_csv('taxi_tableau.csv', index = False)

In [35]:
final_df.describe()

,passenger_count,trip_distance,fare_amount,extra,tip_amount,tolls_amount,total_amount,trip_duration,trip_average_speed,tip_percentage,PULocationID,DOLocationID
count,"494,663.00","494,663.00","494,663.00","494,663.00","494,663.00","494,663.00","494,663.00","494,663.00","494,663.00","494,663.00","494,663.00","494,663.00"
mean,1.58,5.10,13.32,1.16,3.07,0.43,20.32,13.91,20.39,14.94,161.78,159.46
std,1.19,6.35,11.22,1.27,2.56,1.70,14.50,11.07,10.54,4.99,64.72,69.15
min,1.00,0.02,2.50,0.00,0.00,0.00,3.80,1.00,0.02,0.00,1.00,1.00
25%,1.00,1.71,6.50,0.00,1.76,0.00,12.30,7.00,13.35,13.04,114.00,107.00
50%,1.00,2.83,9.50,0.50,2.36,0.00,15.36,11.00,17.93,16.66,161.00,161.00
75%,2.00,5.21,14.50,2.50,3.46,0.00,21.60,18.00,24.53,16.67,231.00,232.00
max,9.00,95.43,99.50,8.00,29.73,66.50,154.39,119.00,117.32,49.74,263.00,263.00

In [36]:
final_df['speed'].value_counts()

Normal speed    281351
Slow Cab        167890
Fast Cab         45422
Name: speed, dtype: int64

In [37]:
final_df['tip_rating'].value_counts()

Normal Tip    380198
Bad Tip        81242
Great Tip      33223
Name: tip_rating, dtype: int64

In [38]:
final_df['fare_classification'].value_counts()

Ok business        215571
Normal business    205359
Good business       73733
Name: fare_classification, dtype: int64

In [39]:
final_df['distance_classified'].value_counts()

Normal distance    272317
Short distance     161348
Long distance       60998
Name: distance_classified, dtype: int64

In [40]:
final_df['duration_classified'].value_counts()

Normal trip    244439
Short trip     212077
Long trip       38147
Name: duration_classified, dtype: int64